export(calculateCrossValidation)
export(calculateSRDDistribution)
export(calculateSRDValues)
export(plotCrossValidation)
export(plotHeatmapSRD)
export(plotPermTest)
export(utilsCalculateDistance)
export(utilsCalculateRank)
export(utilsCreateReference)
export(utilsDetailedSRD)
export(utilsDetailedSRDNoChars)
export(utilsMaxSRD)
export(utilsPreprocessDF)
export(utilsRankingMatrix)
export(utilsTieProbability)
export(utilsColorPalette)
useDynLib(rSRD, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats,t.test)
importFrom(utils,stack)
importFrom(utils,tail)
importFrom(utils, write.table)
import(Rcpp)
import(dplyr)
import(ggplot2)
import(janitor)
import(tibble)
import(stringr)
import(rlang)
importFrom(methods,hasArg)
importFrom(stats, cor, heatmap)
importFrom(stats, median)
importFrom(stats, as.dist)
importFrom(grDevices, colorRampPalette, rainbow)
importFrom(gplots, heatmap.2)


